*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 133px 30px 133px 30px;
}

.result {
  display: inline-block;
  align-items: flex-end;
  margin-top: 78px;
}

.result__video-container {
  width: 711px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 711px;
  min-height: 386px;
  object-fit: contain;
}

.content__details {
  gap: 26px;
  width: 100%;
  height: 100%;
  display: inline-block;
  align-items: flex-end;
  max-width: 399px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.content__list {
  display: grid;
  row-gap: 30px;
}

.content__list-item {
  display: grid;
  row-gap: 30px;
  padding-left: 3px;
  padding-right: 3px;
  overflow-x: hidden;
}

.content__video-card {
  min-width: 196px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 196px;
  object-fit: cover;
  object-position: right;
}

.content__list-container {
  overflow-y: auto;
  overflow-x: none;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 298px;
  gap: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #1b1919;
}

.content__card-link:active {
  background-color: #545050;
  text-decoration: none ! important;
}

.content__card-link:hover {
  text-decoration: underline 1px solid;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -1px;
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 16px;
  line-clamp: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  font-weight: bold;
}

.content__accent {
  color: #545050;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  text-transform: uppercase;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: auto;
}

.search-form__textfield {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: auto;
  cursor: pointer;
}

.search-form__label-text .visually-hidden {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: auto;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: auto;
}

.search-form__chexbox .visually-hidden {
  color: #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
}

input[type=text] {
  width: 225px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  color: #fff;
  background-color: #1b1919;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255/0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__label:hover {
  text-decoration: underline 1px #fff;
  text-underline-offset: 5px;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px 1px 1px 1px;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: auto;
  border: 1px solid #fff;
  background-color: #1b1919;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: center;
  width: 194px;
  height: 34px;
  cursor: pointer;
  padding: 6px 73px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: 100%;
  height: 34px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline 1px white;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.more-button:active {
  text-decoration: none;
}

.search-form__submit-button:active {
  text-decoration: none;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}